<div class="row">
  <div class="col">
    <div class="card card-form text-center ">
      <div class="card-body">
        <h3>DESTEK KAYDI</h3>
        <p>Yeni Destek kaydı oluştur</p>
        <form  id="destek-form">
          <div class="form-group">
            <label for="destek-konu">Konu</label>
            <select class="form-control" id="destek-konu">
              <option value="internet">Internet</option>
              <option value="donanim">Donanım</option>
              <option value="yazilim">Yazılım</option>

            </select>
          </div>
          <div class="form-group">
            <label for="destek-aciliyet">Aciliyet</label>
            <select class="form-control" id="destek-aciliyet">
              <option value="yuksek">Yüksek</option>
              <option value="normal">Normal</option>
              <option value="dusuk">Dusuk</option>

            </select>
          </div>
          <div class="form-group">
            <label for="destek-aciklama">Açıklama</label>
            <input type="text" class="form-control" id="destek-aciklama" placeholder="Lütfen Açıklama giriniz">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Ekle</button>
        </form>
      </div>
    </div>
  </div>
</div>

